.page {
  background-color: rgba(0, 0, 0, 1);
}

/* changes all the link colors in the whole page */
a:link {
  color: red;
}

a:visited {
  color: red;
}

#contacts {
  border: 2px dotted black;
  background-color: rgba(255, 254, 254, 1);
  width:35%;
}

#more-info {
  background-color: rgba(0, 0, 0, 0.6);
}

.general-info {
  font-style: italic;
}

.section-title {
  text-align: center;
  font-size: 7rem;
}

.general-info {
  font-size: 3rem;
}
